.control-box {
    width: 100%;
}

.carousel-control {
    background: #000 !important;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px;
    margin: 190px -40px 0;
    height: 30px;
    width: 30px;
}

.image-border {
    border: 2px solid #000;
}

.hover-underline-menu {
    width: 100%;
}

.hover-underline-menu .menu {
    background-color: #fff;
}

.hover-underline-menu .menu a {
    color: #00695c;
    padding: 1.2rem 1.5rem;
}

.hover-underline-menu .menu .underline-from-center {
    position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position: absolute;
    top: calc(100% - 0.125rem);
    border-bottom: 0.125rem solid #2BBBAD !important;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
}

.center-cropped {
    position: relative;
    width: 960px;
    height: 640px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light .btn-xubi {
    border-color: #fff;
    color: #fff;
}

.btn:hover {
    background: transparent;
    color: #fff;
    border-color: #fff;
}

.bg-light .btn {
    border-color: #fff;
    color: #fff;
}

.bg-light .btn:visited,
.bg-light .btn:visited:hover {
    color: #fff;
}

.menu > li ul {
    width: 200px;
    padding: 8px 0;
    background: #fff;
    position: absolute;
    z-index: 99;
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transform: translate3d(0, 10px, 0);
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    visibility: hidden;
    margin-top: -1px;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif, Semibold !important;;
}

.height {
    margin-top: 30px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "Oswald", sans-serif, Semibold !important;
}

p{
    font-size: 14px;
}


